.DS_Store

##########
# oknesset
##########
src/web/www/javascripts/private.js
target/*
temp/*
target_prod/*
src/web/www/javascripts/private.js

# Android
##########
native/Android/OKnesset/assets/www/*
native/Android/OKnesset/assets/www/javascripts/*
native/Android/OKnesset/bin/*
native/Android/OKnesset/gen/*


#iOS
##########
# xcode noise
native/iOS/OKnesset/build/*
native/iOS/OKnesset/OKnesset.xcodeproj/*.pbxuser
native/iOS/OKnesset/OKnesset.xcodeproj/*.mode1v3
native/iOS/OKnesset/xcuserdata
native/iOS/distribution/2011-11-02 app store update
native/iOS/OKnesset/OKnesset.xcodeproj/project.xcworkspace/*
native/iOS/OKnesset/OKnesset.xcodeproj/xcuserdata/*
native/iOS/OKnesset/*.xcarchive
native/iOS/OKnesset/*.ipa

native/iOS/OKnesset/CordovaLib/CordovaLib.xcodeproj/*.pbxuser
native/iOS/OKnesset/CordovaLib/CordovaLib.xcodeproj/*.mode1v3
native/iOS/OKnesset/CordovaLib/CordovaLib.xcodeproj/xcuserdata/*
native/iOS/OKnesset/CordovaLib/CordovaLib.xcodeproj/project.xcworkspace/*


#eclipse noise
.tmp*
# auto git version noise
native/iOS/OKnesset/InfoPlist.h

# old skool
native/iOS/OKnesset/.svn

# osx noise
native/iOS/OKnesset/.DS_Store
native/iOS/OKnesset/profile

# oknesset
native/iOS/OKnesset/www/*
native/iOS/OKnesset/www/javascripts/*
/readme_review.html

native/iOS/distribution/2011-11-02 app store update

# intellij
.idea
*.iml
