.x-list-item {
  direction :rtl;
  background-color: white;
}

.partySize {
	float : left;
	padding-left : 1em;
}

.partyName div{
	display : inline;
}
/* info page design*/
div.textCenter * {
	text-align:center
}

/* Member page Design */
.memberImage, .memberInfo {
	float : right;
	padding-left : 1em;
}

#memberImagePanel div{
	 direction :rtl;
}

.memberInfo td{
	overflow : hidden;
}

.justify{
	padding-right : 1em;
}

.memberImage td, .memberInfo td{
	text-align : right;
	vertical-align: top;
}
/*
.memberInfo .justify{
	direction : rtl;
	text-align: justify;
}
*/
.memberBillsTitle {
	color: white;
   	text-align: center;

}

#memberBillList .x-list-header {
	direction: rtl;
}

#memberBillList {
	background-color: lightgrey;
}

/* Center empty bill list emptyText*/
#memberBillList .x-list-parent {
	text-align: center;
}
