.x-list-item {
  direction :rtl;
}

.partySize {
	float : left;
	padding-left : 1em;
}

.partyName div{
	display : inline;
}

/* Member page Design */
.memberImage, .memberInfo {
	float : right;
	padding-left : 1em;
}

#memberImagePanel div{
	 direction :rtl;
}

.memberInfo td{
	overflow : hidden;
}

.justify{
	padding-right : 1em;
}

.memberImage td, .memberInfo td{
	text-align : right;
	vertical-align: top;
}
/*
.memberInfo .justify{
	direction : rtl;
	text-align: justify;
}
*/

